[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
passlib = "*"
pydantic = "*"
sqlalchemy = "*"
databases = "*"
datetime = "*"
uuid = "*"
asyncpg = "*"
pyjwt = "*"
python-dotenv = "*"

[dev-packages]
