[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
passlib = "*"
pydantic = "*"
sqlalchemy = "*"
asyncpg = "*"
pyjwt = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.9"
